// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --ion-color-primary: #1db954; 
    --ion-color-primary-rgb: 29, 185, 84;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #16a34a;
    --ion-color-primary-tint: #36b583;
  
    --ion-background-color: #121212; 
    --ion-text-color: #ffffff;
    --ion-color-step-50: #121212;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #1e1e1e;
    --ion-color-step-200: #222222;
    --ion-color-step-250: #282828;
    --ion-color-step-300: #2e2e2e;
    --ion-color-step-350: #333333;
    --ion-color-step-400: #383838;
    --ion-color-step-450: #404040;
    --ion-color-step-500: #484848;
    --ion-color-step-550: #505050;
    --ion-color-step-600: #585858;
    --ion-color-step-650: #606060;
    --ion-color-step-700: #686868;
    --ion-color-step-750: #707070;
    --ion-color-step-800: #787878;
    --ion-color-step-850: #808080;
    --ion-color-step-900: #888888;
    --ion-color-step-950: #909090;
  }
