<ion-content class="ion-padding">
  <div class="background-images">
    <img src="assets/img/image1.png" alt="Image 1">
    <img src="assets/img/image2.jpg" alt="Image 2">
    <img src="assets/img/image3.jpg" alt="Image 3">
    <img src="assets/img/image4.png" alt="Image 4">
    <img src="assets/img/image5.jpg" alt="Image 5">
    <img src="assets/img/image6.jpg" alt="Image 6">
    <img src="assets/img/image7.png" alt="Image 7">
    <img src="assets/img/image8.png" alt="Image 8">
    <img src="assets/img/image9.png" alt="Image 9">
  </div>
  <div class="container">
    <h1>Millones de canciones en un solo lugar</h1>
    <div class="buttons">
      <ion-button expand="block" (click)="goToLogin()" shape="round">Inicia sesión</ion-button>
      <br>
      <ion-button expand="block" (click)="goToRegister()" shape="round">Registro</ion-button>
    </div>
  </div>
</ion-content>
